{{define "bottom"}}
        </main>
        <footer class="footer">
            <div class="inner-wrapper">
                <h3 class="footer__call-to-action"> Connect with me </h3>
                <div class="footer__social-links">
                    <a href="https://twitter.com/emanuelquerty">Twitter</a>
                    <a href="https://github.com/emanuelquerty">Github</a>
                </div>
            </div>
        </footer>
        </div>      
    </body>
</html>
{{end}}